body {
    background: linear-gradient(#8eed2f 0%, #cc3610 100%);
    text-align: center;
}


h1 {
    font-size: 20px;
}

#bio {
    padding: 20px;
    font-size: 18;
    text-align: center;
}

img {

    border-radius: 50% width:100%
}
